

{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    
    <form class="central_container_form needs-validation was-validated" action="{% url 'usuario:create' %}"
        method="POST">
    </br> </br> 
    <h3 class="text-center">Agregar operario</h3>
    </br> </br>    
        {% csrf_token %}
        {% for field in form.visible_fields %}
        {% endfor %}
        <div class="form-row">
            
            <div class="form-group col-md-6">
                <label for="textFirstName">Nombre:</label>
                {{ form.first_name}}

            </div>

            <div class="form-group col-md-6">
                    <label for="textFirstName">Apellido </label>
                    {{ form.last_name}}
        
            </div>

            <div class="form-group col-xs-6 col-md-12">
                    <label for="textFirstName">Correo electronico:</label>
                    {{ form.email}}
        
            </div>

            <div class="form-group col-xs-6 col-md-12">
                    <label for="textFirstName">Correo electronico:</label>
                    {{ form.username}}
        
            </div>

            <div class="form-group col-xs-6 col-md-12">
                    <label for="textFirstName">Contraseña:</label>
                    {{ form.password1}}
        
            </div>

            <div class="form-group col-xs-6 col-md-12">
                    <label for="textFirstName">Confirmacion de contraseña:</label>
                    {{ form.password2}}
        
            

        </br></br>
        <div class="col-xs-6 col-md-12">
            <div class="trans text-center">
                    <button id="IdAgregar" class="btn btn-primary" type="submit">Agregar</button>
            </div>
        </div> 
    </form>
</div>
{% endblock content %}