{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="content-wrapper">
    <h1 style="text-align: center">Operarios<a class="fas fa-user-plus" href="{% url 'usuario:create' %}"></a></h1><br><br>
    <div id="accordion" class="accordion central_container_accordion">
        {% for usuario in object_list %}
        <div class="card">
            <div class="card-header" id="heading-{{ usuario.id }}">
                <h5 class="mb-0" data-toggle="collapse" data-target="#collapse-{{ usuario.id }}" aria-expanded="true"
                    aria-controls="collapse-{{ usuario.id }}">
                    {{ usuario.first_name }}
                </h5>
            </div>

            <div id="collapse-{{ usuario.id }}" class="collapse {% if forloop.first %}show{% endif %}"
                aria-labelledby="heading-{{ usuario.id }}" data-parent="#accordion">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Nombre: {{ usuario.first_name }}</li>
                    <li class="list-group-item">Apellido: {{ usuario.last_name}}</li>
                    <li class="list-group-item">Correo electronico: {{ usuario.email}}</li>
                    <li class="list-group-item">Nombre de usuario: {{ usuario.username}}</li>
                    
                </ul>
                <div class="text-center">
                <div class="card-body">
                        <a href="{% url 'usuario:update' usuario.id %}" class="btn btn-info">Modificar</a>
                        <a href="{% url 'usuario:delete' usuario.id %}" class="btn btn-danger">Eliminar</a>
                </div>
                </div>
            </div>
        </div>
        {% empty %}
        
        {% endfor %}
    </div>
</div>
{% endblock content %}
