<form class="user" method="POST">
  {% csrf_token %}
  <div class="form-group">
    <input type="text" class="form-control form-control-user" name="username" id="exampleInputEmail"
      aria-describedby="emailHelp" placeholder="Ingrese su nombre de usuario">
  </div>
  <div class="form-group">
    <input type="password" class="form-control form-control-user" name="password" id="exampleInputPassword"
      placeholder="Contraseña">
  </div>
  <div class="form-group">
  </div>
  <button class="btn btn-primary btn-user btn-block">
    iniciar sesión
  </button>
</form>