{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <form action="{% url 'parametrizacion:create' %}" method="POST">
    </br> </br> 
        <h3 class="text-center">Agregar parametrizacion<a href="{% url 'parametrizacion:list' %}">lista</a></h3>
        
    </br> </br>    
        {% csrf_token %}
        {% for field in form.visible_fields %}
        {% endfor %}
        <div class="form-row">
            
            <div class="form-group col-md-6">
                <label for="textFirstName">Nombre Parametrización</label>
                {{ form.nombre}}

            </div>

            <div class="form-group col-md-6">
                    <label for="textFirstName">Valor Multa </label>
                    {{ form.porcentaje_valor_multa}}
        
            </div>

            <div class="form-group col-md-6">
                    <label for="textFirstName">Porcentaje inicial de desfase </label>
                    {{ form.porcentaje_desfase}}
        
            </div>

            <div class="form-group col-md-6">
                    <label for="textFirstName">Porcentaje incremental de desfase </label>
                    {{ form.porcentaje_desfase_incremental}}
        
            </div>

            

        
        <div class="col-xs-6 col-md-12">
            <div class="trans text-center">
            <button class="btn btn-info btn-responsive btninter" id="IdAgregar" class="btn btn-info" type="submit">Agregar</button>
            
            <button class="btn btn-danger btn-responsive btninter right" href="{% url 'parametrizacion:list' %}" id="IdCancelar" class="btn btn-danger"
                type="submit">Cancelar</button>

            </div>
        </div> 
    </form>
</div>
{% endblock content %}