{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="content-wrapper">
    <h1 style="text-align: center">Parametrización Multa<a class="fas fa-fw fa-plus-circle" href="{% url 'parametrizacion:create' %}"></a></h1><br><br>
    <div id="accordion" class="accordion central_container_accordion">
        {% for parametrizacion in object_list %}
        <div class="card">
            <div class="card-header" id="heading-{{ parametrizacion.id }}">
                <h5 class="mb-0" data-toggle="collapse" data-target="#collapse-{{ parametrizacion.id }}" aria-expanded="true"
                    aria-controls="collapse-{{ parametrizacion.id }}">
                    {{ parametrizacion.nombre }}
                </h5>
            </div>

            <div id="collapse-{{ parametrizacion.id }}" class="collapse {% if forloop.first %}show{% endif %}"
                aria-labelledby="heading-{{ parametrizacion.id }}" data-parent="#accordion">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Nombre Parametrización: {{ parametrizacion.nombre }}</li>
                    <li class="list-group-item">Valor: {{ parametrizacion.porcentaje_valor_multa }}</li>
                    <li class="list-group-item">Porcentaje de desface inicial: {{ parametrizacion.porcentaje_desfase }}</li>
                    <li class="list-group-item">Porcentaje de desface incremental: {{ parametrizacion.porcentaje_desfase_incremental }}</li>
                </ul>
                <div class="text-center">
                <div class="card-body">
                    <a href="{% url 'parametrizacion:update' parametrizacion.id %}" class="btn btn-info">Modificar</a>
                    <a href="{% url 'parametrizacion:delete' parametrizacion.id%}" class="btn btn-danger">Eliminar</a>
                </div>
                </div>
            </div>
        </div>
        {% empty %}
        
        {% endfor %}
    </div>
</div>
{% endblock content %}
