{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <h3 class="text-center">Agregar obra <a href="{% url 'obra:list' %}">lista</a></h3>
    <form action="{% url 'obra:create' %}" method="POST">
    </br> </br> 
    </br> </br>    
        {% csrf_token %}
        {% for field in form.visible_fields %}
        {% endfor %}
        <div class="form-row">
            
            <div class="form-group col-md-6">
                <label for="textFirstName">Nombre </label>
                {{ form.nombre}}

            </div>

            <div class="form-group col-md-6">
                    <label for="textFirstName">Dirección </label>
                    {{ form.direccion}}
        
            </div>

            <div class="form-group col-md-6">
                    <label for="textFirstName">Tipo de obra</label>
                    {{ form.tipo_obra}}
        
            </div>

            <div class="form-group col-md-6">
                    <label for="textFirstName">Valor de la obra </label>
                    {{ form.valor}}
        
            </div>

            <div class="form-group col-md-6">
                    <label for="textFirstName">Fecha de Inicio </label>
                    {{ form.fecha_de_inicio}}
        
            </div>

            <div class="form-group col-md-6">
                    <label for="textFirstName">Fecha de finalización </label>
                    {{ form.fecha_de_fin}}
        
            </div>

            <div class="form-group col-xs-8 col-md-6">
                    <label for="textId">Contratista</label>
                    {{ form.contratista }}
            </div>

            <div class="form-group col-xs-8 col-md-6">
                    <label for="textId">parametrizacion</label>
                    {{ form.parametrizacion_multa }}
            </div>

            <div class="form-group col-xs-8 col-md-6">
                {{ form.estado}}
        </div>

        </br></br>
        <div class="col-xs-6 col-md-12">
            <div class="trans text-center">
            <button class="btn btn-info btn-responsive btninter" id="IdAgregar" class="btn btn-info" type="submit">Agregar</button>
            
            <button class="btn btn-danger btn-responsive btninter right" href="{% url 'obra:list' %}" id="IdCancelar" class="btn btn-danger" type="submit">Cancelar</button>

            </div>
        </div> 
    </form>
</div>
{% endblock content %}