
{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="container">
<form action=" {% url 'obra:delete' object.id %}" method="POST">
</br>
<div class="trans text-center">
    <h3 class="text-center?">¿Desea eliminar la obra?</h3>
</div>    
</br>
<div class="col-xs-6 col-md-12">
        <div class="trans text-center">
{% csrf_token %}
{{object.nombre }}
    </div>
</div>

</br>
</br>

<div class="col-xs-6 col-md-12">
    <div class="trans text-center">
        <div class="container"></div>
        <button id="IdAgregar" class="btn btn-info btn-responsive btninter" type="submit">Eliminar</button>
        <a href="{% url 'obra:list' %}" id="IdAgregar" class="btn btn-danger btn-responsive btninter">Cancelar</a>

            

        </div>
    </div>
</div>

</form>
</div>
{% endblock content %}