{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="content-wrapper">
    <div id="accordion" class="accordion central_container_accordion ">
        <div class="text-center">
            {% url 'obra:list-exprired' as url_obra %}
            {% if url_obra == request.path %}
            <h1 style="text-align: center">Contratos con multa </h1><br><br>
            {% endif %}

            {% url 'obra:list' as url_obra %}
            {% if url_obra == request.path %}
            </br></br>
            <h1 style="text-align: center">Contratos al día<a class="fas fa-fw fa-plus-circle" href="{% url 'obra:create' %}"></a></h1>
                        
            {% endif %}<br><br>

            {% url 'obra:list-finished' as url_obra %}
            {% if url_obra == request.path %}
            <h1>Contratos finalizados</a></h1><br><br>
            {% endif %}<br><br>
        </div>
        {% for obra in object_list %}
        <div class="card">
            <div class="card-header" id="heading-{{ obra.id }}">
                <h5 class="mb-0" data-toggle="collapse" data-target="#collapse-{{ obra.id }}" aria-expanded="true"
                    aria-controls="collapse-{{ obra.id }}">
                    {{ obra.nombre}}
                </h5>
            </div>

            <div id="collapse-{{ obra.id }}" class="collapse {% if forloop.first %}show{% endif %}"
                aria-labelledby="heading-{{ obra.id }}" data-parent="#accordion">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Obra: {{ obra.nombre}}</li>
                    <li class="list-group-item">Dirección: {{ obra.direccion }}</li>
                    <li class="list-group-item">Tipo obra: {{ obra.tipo_obra }}</li>
                    <li class="list-group-item">Valor: {{ obra.valor }}</li>
                    <li class="list-group-item">Tipo multa: {{ obra.parametrizacion_multa }}</li>
                    <li class="list-group-item">Valor multa: {{ obra.multa }}</li>
                    <li class="list-group-item">Fecha de inicio: {{ obra.fecha_de_inicio }}</li>
                    <li class="list-group-item">Fecha de finalización: {{ obra.fecha_de_fin }}</li>
                    <li class="list-group-item">Estado: {{ obra.mostrar_estado }}</li>
                    <li class="list-group-item">Contratista: {{ obra.contratista }}</li>
                </ul>
                <div class="text-center">
                    {% if request.user.is_staff %}
                    <div class="card-body">

                        {% url 'obra:list-finished' as url_obra %}
                        {% if not url_obra == request.path %}
                        <a href="#FinalizarModal-{{ obra.id }}" class="btn btn-success" data-toggle="modal">
                            Finalizar
                        </a>
                        <a href="{% url 'obra:update' obra.id %}" class="btn btn-info">Modificar</a>
                        {% endif %}
                        <a href="{% url 'obra:report' obra.id %}" class="btn btn-warning">Informe</a>

                        {% url 'obra:list' as url_obra %}
                        {% if url_obra == request.path %}
                        <a href="{% url 'obra:delete' obra.id %}" class="btn btn-danger">Eliminar</a>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="modal fade" id="FinalizarModal-{{ obra.id }}" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Finalizar el contrato: {{ obra.nombre }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Nombre de la obra: {{ obra.nombre }}</li>
                            <li class="list-group-item">Dirección: {{ obra.direccion }}</li>
                            <li class="list-group-item">Tipo de obra: {{ obra.tipo_obra }}</li>
                            <li class="list-group-item">Valor: {{ obra.valor }}</li>
                            {% if obra.total_multa %}
                            <li class="list-group-item">Multa: {{ obra.total_multa }}</li>
                            {% endif %}
                            <li class="list-group-item">Fecha de inicio: {{ obra.fecha_de_inicio }}</li>
                            <li class="list-group-item">Fecha de fin: {{ obra.fecha_de_fin }}</li>
                            <li class="list-group-item">Estado: {{ obra.mostrar_estado }}</li>
                            <li class="list-group-item">Contratista: {{ obra.contratista }}</li>
                            <li class="list-group-item">parametrizacion: {{ obra.parametrizacion_multa }}</li>

                        </ul>
                    </div>
                    <div class="modal-footer">
                        <form action="{% url 'obra:finish' obra.id %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="estado" value="false">
                            <button type="submit" class="btn btn-primary">Aceptar</button>
                        </form>

                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>

            
        </div>
        {% empty %}

        {% endfor %}
    </div>
    
</div>

{% endblock content %}
