{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
   
    

    <form action="{% url 'contratista:create' %}" method="POST">
        <h3 class="text-center">Agregar contratista <a href="{% url 'contratista:list' %}">lista</a></h3>
</br> </br> 
    </br> </br>    
        {% csrf_token %}
        {% for field in form.visible_fields %}
        {% endfor %}
        <div class="form-row">
            
            <div class="form-group col-md-6">
                <label for="textFirstName">Primer Nombre </label>
                {{ form.primer_nombre}}

            </div>

            <div class="form-group col-md-6">
                    <label for="textFirstName">Segundo Nombre </label>
                    {{ form.segundo_nombre}}
        
            </div>

            <div class="form-group col-md-6">
                <label for="textFirstName">Primer Apellido</label>
                {{ form.primer_apellido}}
    
        </div>

        <div class="form-group col-md-6">
                <label for="textFirstName">Segundo Apellido </label>
                {{ form.segundo_apellido}}
    
        </div>

        <div class="form-group col-md-6">
                <label for="textFirstName">Identificación </label>
                {{ form.documento_identidad}}
    
        </div>

        <div class="form-group col-md-6">
                <label for="textFirstName">Dirección</label>
                {{ form.direccion}}

        </div>

            

        <div class="form-group col-md-6">
                <label for="textFirstName">Teléfono </label>
                {{ form.telefono}}

        </div>

        

        </br></br>
        <div class="col-xs-6 col-md-12">
            <div class="trans text-center">
                <button class="btn btn-info btn-responsive btninter" id="IdAgregar"  type="submit">Agregar</button>
                
                <a class="btn btn-danger" href="{% url 'contratista:list' %}" id="IdCancelar">Cancelar</a>
            
            </div>
        </div> 
    </form>
</div>
{% endblock content %}




