{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="content-wrapper">
    <h1 style="text-align: center">Contratistas <a class="fas fa-user-plus" href="{% url 'contratista:create' %}"></a>
    </h1><br><br>
    <div id="accordion" class="accordion central_container_accordion">
        {% for contratista in object_list %}
        <div class="card">
            <div class="card-header" id="heading-{{ contratista.id }}">
                <h5 class="mb-0" data-toggle="collapse" data-target="#collapse-{{ contratista.id }}"
                    aria-expanded="true" aria-controls="collapse-{{ contratista.id }}">
                    {{ contratista.nombre_completo }}
                </h5>
            </div>

            <div id="collapse-{{ contratista.id }}" class="collapse {% if forloop.first %}show{% endif %}"
                aria-labelledby="heading-{{ contratista.id }}" data-parent="#accordion">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Contratista: {{ contratista.nombre_completo }}</li>
                    <li class="list-group-item">Documento: {{ contratista.documento_identidad }}</li>
                    <li class="list-group-item">Dirección: {{ contratista.direccion }}</li>
                    <li class="list-group-item">Teléfono: {{ contratista.telefono }}</li>
                </ul>
                <div class="text-center">
                    {% if request.user.is_staff %}<div class="card-body">
                        <a href="{% url 'contratista:update' contratista.id %}" class="btn btn-info">Modificar</a>
                        <a href="{% url 'contratista:delete' contratista.id %}" class="btn btn-danger">Eliminar</a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        {% empty %}

        {% endfor %}
    </div>
</div>
{% endblock content %}