{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
<form action=" {% url 'contratista:update' object.id %}" method="POST">
    </br> </br> 
    <h3 class="text-center">Actualizar información</h3>
{% csrf_token %}
{% for field in form.visible_fields %}
{{ field.label_tag }}
{{ field }}
{% endfor %}
</br></br>
<div class="col-xs-6 col-md-12">
        <div class="trans text-center">
        <button class="btn btn-info btn-responsive btninter" id="IdAgregar" class="btn btn-info" type="submit">Agregar</button>
        
        <button class="btn btn-danger btn-responsive btninter right" href="{% url 'contratista:list' %}" id="IdCancelar" class="btn btn-danger"
            type="submit">Cancelar</button>

        </div>
    </div> 

</form>
</div>
{% endblock content %}