.central_container_form{
    width: 60%;
    border: 3px solid #e9ecef;
    padding: 25px 40px 40px 40px;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    box-shadow: 0px 0px 10px 0px #b5bdd0;;
}

.central_container_accordion{
    width: 70%;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    
}

